* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
}
.header {
  width: 320px;
  height: 50px;
  background-color: rgba(33, 0, 104, 0.954);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h1 {
  color: #fff;
  font-family: Jost;
  font-size: 18px;
  font-weight: 700;
}
.header-right {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.header-img {
  width: 35px;
  height: 35px;
}
.btn1 {
  background-color: transparent;
  border: none;
}
.btn2 {
  background-color: transparent;
  border: none;
}
.theme1 {
  width: 320px;
  height: 580px;
  background-color: rgba(33, 0, 104, 0.954);
  text-align: center;
  padding-top: 50px;
}
.theme1-span {
  color: #fff;
  font-family: Jost;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
}
.theme1-p {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}
.theme1-img {
  width: 273px;
  height: 320px;
  margin-top: 20px;
}
.theme1-btn {
  width: 300px;
  height: 60px;
  padding: 25px 54px 25px 54px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background: #d52027;
  border: none;
  margin-top: -4px;
}

.theme1-btn a {
  color: #fff;
}

.menu {
  width: 320px;
  height: 630px;
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 1;
  top: 0px;
  background-color: rgba(33, 0, 104, 0.954);
}
.style {
  color: #fff;
  font-family: Jost;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}
.item {
  text-align: center;
  margin-top: 190px;
}

.btn3 {
  background-color: rgba(33, 0, 104, 0.954);
  border: none;
  color: #fff;
  font-size: 20px;
  margin-left: 90%;
}
.phone {
  display: none;
  position: absolute;
  padding-top: 1px;
  width: 320px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 580px;
}
.phone-div {
  width: 300px;
  height: 500px;
  padding-top: 33px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  /* border: 1px solid #cdcdcd; */
  box-shadow: 1px 10px 7px 7px #cdcdcd;
}
.phone-top {
  display: flex;
}
.phone-left-img {
  margin-left: 22px;
}
.phone-span1 {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: left;
  color: #141024;

  margin-left: 10px;
}
.phone-span2 {
  color: #141024b2;
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  margin-left: 10px;
}
.btn-phone {
  width: 20px;
  height: 20px;
  margin-left: 82%;
  top: 10px;
  position: absolute;
  border: none;
  font-size: 20px;
  background-color: transparent;
  font-weight: bolder;
}
.btn4 {
  width: 260px;
  height: 46px;
  background: #d52027;
  margin: 20px;
  border: none;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  color: #ffffff;
}
.text {
  width: 260px;
  height: 176px;
  margin-left: 20px;
}
.text-p {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: linear-gradient(180deg, #141024 0%, rgba(20, 16, 36, 0) 100%);


}
.text-s{
  font-family: Jost;
font-size: 16px;
font-weight: 600;
line-height: 25.6px;
text-align: left;
color: #141024;
}